{% load staticfiles %}

<!-- Footer -->
<footer id="footer" class="parallaxie p_t">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-box"><img alt="" src="{% static "images/logoWithe.png" %}">
                    <p>г. Казань, проспект Победы 78.</p>
                    <ul class="footer-link">
                        <li><i class="fa fa-phone"></i> <a href="#">+7 (843) 266-10-67</a></li>
                        <li><i class="fa fa-envelope-o"></i> <a href="#">info@antkzn.ru</a></li>
                        <li><i class="fa fa-globe "></i> <a href="#">www.antkzn.ru</a></li>
                    </ul>
                </div>
            </div>

            {#            <div class="col-sm-6 col-md-3">#}
            {#                <div class="footer-box">#}
            {#                    <h4>Наши <span>Услуги</span></h4>#}
            {#                    <ul class="footer-link">#}
            {#                        <li><a href="#">Oil Change</a></li>#}
            {#                        <li><a href="#">Engine Service</a></li>#}
            {#                        <li><a href="#">Wheel Alignment</a></li>#}
            {#                        <li><a href="#">Looking Glass</a></li>#}
            {#                        <li><a href="#">Coloring</a></li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </div>#}

            <div class="col-sm-6 col-md-3">
                <div class="footer-box">

                    <h4>Полезные <span>ссылки</span></h4>

                    <ul class="footer-link">

                        {% url "main" as page_url %}
                        <li><a href="{{ page_url }}">Главная</a></li>

                        {% url "aboutus_index" as page_url %}
                        <li><a href="{{ page_url }}">О нас</a></li>

                        {% url "contact_index" as page_url %}
                        <li><a href="{{ page_url }}">Контакты</a></li>

                    </ul>
                </div>

            </div>

            <div class="col-sm-6 col-md-3">
                <div class="footer-box">
                    <h4>Часы <span>Работы</span></h4>
                    <div class="opening-hourse">
                        <ul class="footer-link">
                            <li class="clearfix"><span> Круглосуточно 24/7</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        {% comment %}<div class="row p_b_50 footer-middle">
            <div class="col-md-12">
                <div class="border-bottom"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="footer-box">
                    <h5>Звоните <span>нам</span></h5>
                    <div class="contact-number"> +7 (843) 266-10-67</div>
                </div>
            </div>
            <div class="col-md-3  col-sm-4 col-xs-6">
                <div class="footer-box">
                    <h5>Свяжитесь <span>С нами</span></h5>
                    <ul class="footer-link-bottom">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12">
                <div class="footer-box">
                    <h5>E-mail <span>Подписка</span></h5>
                    <!-- Mailchimp Subscription Form Starts Here -->
                    <form class="newsletter-form">
                        <input type="email" value="" name="EMAIL" placeholder="Ваш Email" class="form-control">
                        <button type="submit">Подписаться</button>
                    </form>
                </div>
            </div>
        </div>{% endcomment %}
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>@ Copyright 2018 Холод мастер by <a href="#">JAGGER</a></p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <ul class="footer-link-bootom">
                            <li><a href="#">FAQ</a></li>
                            <li>|</li>
                            <li><a href="#">Гостевая книга</a></li>
                            <li>|</li>
                            <li><a href="#">Поддержка</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->