<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="azure" id="wizard">
                    <form action="" method="post" id="scheds_form">
                        <!--        You can switch " data-color="azure" "  with one of the next bright colors: "blue", "green", "orange", "red"           -->
                        {% csrf_token %}
                        <div class="wizard-header">
                            <h3 class="wizard-title">Find your next desk</h3>
                            <p class="category">Book from thousands of unique work and meeting spaces.</p>
                        </div>

                        <div class="wizard-navigation">
                            <div class="progress-with-circle">
                                <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                            </div>
                            <ul>
{#                                <li>#}
{#                                    <a href="#appliance" data-toggle="tab">#}
{#                                        <div class="icon-circle">#}
{#                                            <i class="ti-list"></i>#}
{#                                        </div>#}
{#                                        Оборудование#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#brands" data-toggle="tab">#}
{#                                        <div class="icon-circle">#}
{#                                            <i class="ti-list"></i>#}
{#                                        </div>#}
{#                                        Производитель#}
{#                                    </a>#}
{#                                </li>#}
                                <li>
                                    <a href="#contacts" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-pencil"></i>
                                        </div>
                                        Контакты
                                    </a>
                                </li>
                                <li>
                                    <a href="#date" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-briefcase"></i>
                                        </div>
                                        Дата
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            {#                            <div class="tab-pane" id="appliance">#}
                            {#                                <h5 class="info-text"> Выберите оборудование и укажите неисправность </h5>#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-sm-10 col-sm-offset-1">#}
                            {#                                        <div class="col-sm-4">#}
                            {#                                            <div class="choice" data-toggle="wizard-radio">#}
                            {#                                                <input name="jobb" value="Design" type="radio">#}
                            {#                                                <div class="card card-checkboxes card-hover-effect">#}
                            {#                                                    <i class="ti-paint-roller"></i>#}
                            {#                                                    <p>Холодильник</p>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="col-sm-4">#}
                            {#                                            <div class="choice" data-toggle="wizard-radio">#}
                            {#                                                <input name="jobb" value="Code" type="radio">#}
                            {#                                                <div class="card card-checkboxes card-hover-effect">#}
                            {#                                                    <i class="ti-pencil-alt"></i>#}
                            {#                                                    <p>Ледогенератор</p>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="col-sm-4">#}
                            {#                                            <div class="choice" data-toggle="wizard-radio">#}
                            {#                                                <input name="jobb" value="Develop" type="radio">#}
                            {#                                                <div class="card card-checkboxes card-hover-effect">#}
                            {#                                                    <i class="ti-star"></i>#}
                            {#                                                    <p>Кондиционер</p>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="tab-pane" id="brand">#}
                            {#                                <h5 class="info-text"> Выберите оборудование и укажите неисправность </h5>#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-sm-10 col-sm-offset-1">#}
                            {#                                        <div class="col-sm-4">#}
                            {#                                            <div class="choice" data-toggle="wizard-radio">#}
                            {#                                                <input name="jobb" value="Design" type="radio">#}
                            {#                                                <div class="card card-checkboxes card-hover-effect">#}
                            {#                                                    <i class="ti-paint-roller"></i>#}
                            {#                                                    <p>Холодильник</p>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="col-sm-4">#}
                            {#                                            <div class="choice" data-toggle="wizard-radio">#}
                            {#                                                <input name="jobb" value="Code" type="radio">#}
                            {#                                                <div class="card card-checkboxes card-hover-effect">#}
                            {#                                                    <i class="ti-pencil-alt"></i>#}
                            {#                                                    <p>Ледогенератор</p>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="col-sm-4">#}
                            {#                                            <div class="choice" data-toggle="wizard-radio">#}
                            {#                                                <input name="jobb" value="Develop" type="radio">#}
                            {#                                                <div class="card card-checkboxes card-hover-effect">#}
                            {#                                                    <i class="ti-star"></i>#}
                            {#                                                    <p>Кондиционер</p>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}

                            <div class="tab-pane" id="contacts">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="info-text"> Введите Ваши контактные данные</h5>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Введите Ваше имя</label>
                                            <input name="username" class="form-control" id="username_input" placeholder="Ваше имя" maxlength="20" minlength="3" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Телефон для контакта</label>
                                            <input name="address" class="form-control" id="address_input" placeholder="Ваш номер телефона" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Ваш адрес</label>
                                            <textarea name="telephone" class="form-control" id="telephone_input" placeholder="Укажите Ваш адрес" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Комментарий</label>
                                            <textarea name="comment" class="form-control" id="comment_input" placeholder="Введите дополнительную информацию"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="date">
                                <h5 class="info-text">How do you want to rent the office? </h5>
                                <div id="calendar-box" class="row">

                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option4" autocomplete="off"> Radio
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option5" autocomplete="off"> Radio
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Далее'/>
                                <input type='submit' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Отправить'/>
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Назад'/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->