<!-- Appointment -->
<section id="appointment-page" class="p_t_b">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading_left heading">
                <h2>Отправить <span>заявку</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
            </div>
        </div>
        <form action="/scheduler/" method="post" id="scheduler_form">
            {% include 'generic/form.html' %}
            <input type="submit" value="Submit"/>
        </form>

        {#        <form class="appointment-page-form">#}
        {#            <div class="row">#}
        {##}
        {#                <div class="col-md-7 col-sm-12 col-xs-12">#}
        {#                    <h3>Введите информацию</h3>#}
        {#                    <div class="row">#}
        {##}
        {#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
        {#                            <div class="form-group">#}
        {#                                <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>#}
        {#                            </div>#}
        {#                        </div>#}
        {##}
        {#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
        {#                            <div class="form-group">#}
        {#                                <input type="tel" name="name" class="form-control" placeholder="Телефон" required>#}
        {#                            </div>#}
        {#                        </div>#}
        {##}
        {#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
        {#                            <div class="form-group">#}
        {#                                <input type="text" name="name" class="form-control" placeholder="Адрес" required>#}
        {#                            </div>#}
        {#                        </div>#}
        {##}
        {##}
        {#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
        {#                            <div class="form-group">#}
        {#                                <input type="text" name="name" class="form-control" placeholder="Комментарий" required>#}
        {#                            </div>#}
        {#                        </div>#}
        {##}
        {#                        {% comment %}<div class="col-md-6 col-sm-6 col-xs-12">#}
        {#                            <div class="form-group form-arrow">#}
        {#                                <select class="form-control">#}
        {#                                    <option value="12pm" selected="">12:00 PM - 02:00PM</option>#}
        {#                                    <option value="02pm">02:00 PM - 04:00PM</option>#}
        {#                                    <option value="04pm">04:00 PM - 06:00PM</option>#}
        {#                                    <option value="06pm">06:00 PM - 08:00PM</option>#}
        {#                                    <option value="08pm">08:00 PM - 10:00PM</option>#}
        {#                                </select>#}
        {#                            </div>#}
        {#                        </div>{% endcomment %}#}
        {##}
        {#                    </div>#}
        {#                </div>#}

        {% comment %}<div class="col-md-5 col-sm-12 col-xs-12">
                    <h3>Select services(s) needed*</h3>

                    <div class="row">

                        <div class="col-md-6 col-sm-6 servicesNeed">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="airConditioning" value="Air Conditioning" type="checkbox">
                                        <label class="checkboxLabel" for="airConditioning">Air Conditioning</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="batteries" value="Batteries" type="checkbox">
                                        <label class="checkboxLabel" for="batteries">Batteries</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="brakes" value="Brakes" type="checkbox">
                                        <label class="checkboxLabel" for="brakes">Brakes</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="engineLight" value="Check Engine Light" type="checkbox">
                                        <label class="checkboxLabel" for="engineLight">Check Engine Light</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="batteries3" value="Batteries" type="checkbox">
                                        <label class="checkboxLabel" for="batteries3">Batteries</label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-6 servicesNeed">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="airConditioning2" value="Air Conditioning" type="checkbox">
                                        <label class="checkboxLabel" for="airConditioning2">Air Conditioning</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="batteries4" value="Starting & Charging" type="checkbox">
                                        <label class="checkboxLabel" for="batteries4">Starting & Charging</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="brakes2" value="Brakes" type="checkbox">
                                        <label class="checkboxLabel" for="brakes2">Brakes</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="engineLight2" value="Check Engine Light" type="checkbox">
                                        <label class="checkboxLabel" for="engineLight2">Check Engine Light</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input name="serviceSelect" id="batteries2" value="Starting & Charging" type="checkbox">
                                        <label class="checkboxLabel" for="batteries2">Starting & Charging</label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>{% endcomment %}

        {#            </div>#}

        {#            <div class="row">#}
        {#                <div class="col-md-12">#}
        {#                    <button class="cd-btn secondary">Отправить</button>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#        </form>#}

    </div>
</section>
<!-- /#Appointment -->