{% extends "scheduler/scheduler_index.html" %}
{% block title %}Добавление заявки{% endblock %}

{% block main %}
    {% include "scheduler/modules/inner_banner.html" %}
    <div class="container">
        <div class="row">
            <h2>Добавление заявки</h2>
            {% include "generic/messages.html" %}
            <div class="form">
                <form action="" method="post">
                    {% include "generic/form.html" %}
                    <div class="submit-button"><input type="submit" value="Добавить"></div>
                </form>
            </div>
            <p><a href="{% url "scheduler_index" %}?page={{ pn }}&sort={{ sort }}&order={{ order }}">Назад</a></p>
        </div>
    </div>
{% endblock %}
