{% load staticfiles %}

<!-- About Us -->
<section id="about-us-3" class="p_t_b">
    <div class="container">
        <div class="row">

            <div class="col-md-7">

                <div class="row">
                    <div class="col-md-12 heading_left heading">
                        <h2>О нас и <span>наших приоритетах</span></h2>
                        <div class="center_title"><span><i class="fa fa-wrench"></i></span>
                        </div>
                    </div>
                </div>

                <div class="about-us-box wow fadeInDown">
                    <p>Наша компания осуществляет ремонт и обслуживание холодильного оборудования любой марки и
                        сложности. Мы работаем только на проффесиональным оборудованием и используем оригинальные
                        запчасти для ремонта Вашего оборудования. Работая с 2009 года мы доказали своим клиентам, что
                        работа с нами всегда оставит Вас довольными проделанной работой.</p>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="about-us-post">
                                <div class="skew-box">
                                    <a href="#"><i class="fa fa-calendar"></i></a>
                                </div>
                                <h4>Мы 9 лет</h4>
                                <span>на рынке обслуживания</span>
                            </div>

                            <div class="about-us-post">
                                <div class="skew-box">
                                    <a href="#"><i class="fa fa-users"></i></a>
                                </div>
                                <h4>Проффесианолизм</h4>
                                <span>наших специалистов</span>
                            </div>

                            <div class="about-us-post">
                                <div class="skew-box">
                                    <a href="#"><i class="fa fa-wrench"></i></a>
                                </div>
                                <h4>Проффессиональное</h4>
                                <span>оборудование</span></div>
                        </div>

                        <div class="col-md-6">

                            <div class="about-us-post">
                                <div class="skew-box">
                                    <a href="#"><i class="fa fa-cogs"></i></a>
                                </div>
                                <h4>Оригинальные</h4>
                                <span>запчасти</span>
                            </div>

                            <div class="about-us-post">
                                <div class="skew-box">
                                    <a href="#"><i class="fa fa-rub"></i></a>
                                </div>
                                <h4>Наши цены</h4>
                                <span>Вас приятно удивят</span>
                            </div>

                            <div class="about-us-post">
                                <div class="skew-box">
                                    <a href="#"><i class="fa fa-clock-o"></i></a>
                                </div>
                                <h4>24/7</h4>
                                <span>работаем без выходных</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="about-box ">
                    <img alt="about-us" src="{% static 'images/main/banner2.jpg' %}" class="img-responsive">
                    <div class="row">
                        <div class="col-md-12 heading_left heading">
                            <h2>Кто <span>мы</span></h2>
                            <div class="center_title"><span><i class="fa fa-wrench"></i></span>
                            </div>
                        </div>
                    </div>
                    <p>Мы, амбициозная комманда специалистов любящая и знаящая свое дело. Наша комманда дорожит каждым
                        клиентом и готова на все, что бы наши клиенты остались довольны нашим сервисом</p>
                    <p>Доверяя нам свое оборудование, будьте готовы получить квалифицированный сервис и положительные эмоции.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /#About Us -->