{% load staticfiles %}

<div id="banner-hero" class="container-fluid">
    <div class="jumbotron hero">

        <div class="text-center hero-row">
            {% comment %}<h1 class="heading"><span>HERO</span> Design</h1>
            <h2 class="subheading">Full screen Hero Style</h2>
            <div class="btn-group">
                <button class="btn btn-lg btnx-blue" type="button">Read more</button>
                <button class="btn btn-lg btnx-white" type="button">Contact us</button>
            </div>{% endcomment %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner_detail">
                            <h2>РЕМОНТ ХОЛОДИЛЬНИКОВ</h2>
                            <br>
                            <h2>Тел: 225-00-67</h2>
                            <div id="typewriter"></div>
                            <div class="banner_button">
                                <a id="banner-phone-click" href="tel:+78432250067" class="cd-btn">Позвонить</a>
                                {% url "callback_index" as page_url %}
                                <a id="banner-sched-click"href="{{ page_url }}" class="cd-btn secondary" data-toggle="modal" data-target="#gridSystemModal">Он-лайн заявка</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% comment %}
<!-- Banner -->
<section id="banner-5" class="parallaxie">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner_detail">
                    <h2>Ремонт холодильников</h2>
                    <div id="typewriter"></div>
                    <div class="banner_button">
                        <a href="tel:+78432661067" class="cd-btn">Позвонить</a>
                        {% url "callback_index" as page_url %}
                        <a href="{{ page_url }}" class="cd-btn secondary"  data-toggle="modal" data-target="#gridSystemModal">Онлайн заявка</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /#Banner -->{% endcomment %}
