<!-- Call to Action -->
<section id="booking-section" class="parallaxie">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="content">
                    <h2>Why not get your MOT done with us?</h2>
                    <h5>Only £19 with a service or £24 without a service. Free nationwide collection and delivery.</h5>
                </div>
                <a href="#" class="cd-btn">book now</a> <a href="#" class="cd-btn secondary">book now</a></div>
        </div>
    </div>
</section>
<!-- /#Call to Action -->