{% load staticfiles %}

<!-- CallBack -->
<section id="appointment" class="p_t_b">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading_center heading text-center">
                <h2>Ремонт <span>холодильников</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">

                <div class="more-services-pad">
                    <div class="row">
                        <div class="col-md-12 heading_left heading">
                            <h2>Вас <span>ожидает</span></h2>
                            <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Feature Block -->
                        <div class="col-sm-6 more-services">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-truck" aria-hidden="true"></i></div>
                                <div class="media-body">
                                    <h3 class="title">Бесплатный выезд и диагностика</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Feature Block -->

                        <!-- Feature Block -->
                        <div class="col-md-6 col-sm-6 col-xs-12 more-services">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                                <div class="media-body">
                                    <h3 class="title">Гарантия до 2х лет</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Feature Block -->

                        <!-- Feature Block -->
                        <div class="col-md-6 col-sm-6 col-xs-12  more-services">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                <div class="media-body">
                                    <h3 class="title">Удобное время приезда</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Feature Block -->

                        <!-- Feature Block -->
                        <div class="col-md-6 col-sm-6 col-xs-12  more-services">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-wrench" aria-hidden="true"></i></div>
                                <div class="media-body">
                                    <h3 class="title">Ремонт в течение 24 часов</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Feature Block -->

                        <!-- Feature Block -->
                        <div class="col-md-6 col-sm-6 col-xs-12 more-services">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
                                <div class="media-body">
                                    <h3 class="title">Оригинальные запчасти</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Feature Block -->

                        <!-- Feature Block -->
                        <div class="col-md-6 col-sm-6 col-xs-12 more-services">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-certificate" aria-hidden="true"></i></div>
                                <div class="media-body">
                                    <h3 class="title">Квалифицированные мастера</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Feature Block -->


                    </div>
                </div>


            </div>

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="form-bg">
                    <div class="row">
                        <div class="col-md-12 heading_left heading">
                            <h2>Обратный <span>звонок</span></h2>
                            <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                            <p>В случае возникновения вопросов косающихся работы Вашего холодильника,
                                позвоните нам или отправьте сообщение.</p>
                        </div>
                    </div>
                    <form class="appointment-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Ваше имя" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="tel" placeholder="Телефон" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="text" class="form-control" placeholder="Комметарий" required></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="cd-btn secondary">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /#CallBack -->