{% load staticfiles %}

<!-- Counter Section -->
<div id="counter-section2" class="p_b_230 p_t">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading_center heading text-center">
                <h2>Почему выбирают <span>нас</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="row number-counters text-center">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="9">0</strong>
                    <p>Лет на рынке</p>
                    <div class="border-inner"></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="1500">0</strong>
                    <p>холодильников отремонтировано</p>
                    <div class="border-inner"></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="2000">0</strong>
                    <p>Выполненных заявок</p>
                    <div class="border-inner"></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="2000">0</strong>
                    <p>Довольных клиентов</p>
                    <div class="border-inner"></div>
                </div>

            </div>

        </div>

    </div>
</div>

<section class="page-section-ptb p_b_50">
    <div class="container">
        <div class="custom-content">

            <div class="row">
                <div class="col-md-12 heading_left heading">
                    <h2>Вы останетесь <span>довольны</span></h2>
                    <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="popup-video">
                        <img class="img-responsive full-width" src="{% static 'images/counter1.jpg' %}" alt="">
                        <div class="pro-video">
                            <a title="title here" data-height="420" data-width="900"
                               class="html5lightbox content-vbtn-color-blue"
                               href="https://www.youtube.com/watch?v=8VnjK4P7gIg"><i class="fa fa-play"
                                                                                     aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-8 col-md-8">
                    <h5>Мы принимаем заявки в г. Казани и ближайших районах</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="feature-text left-icon">
                                <div class="feature-icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <div class="feature-info">
                                    <h5>Many Style Available</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="feature-text left-icon">
                                <div class="feature-icon">
                                    <i class="fa fa-television" aria-hidden="true"></i>
                                </div>
                                <div class="feature-info">
                                    <h5>Parallax Sections</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /#Counter Section -->