{% load staticfiles %}

<!-- Main Features -->
<section id="main-features" class="p_t_b">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center heading_center heading">
                <h2>Наши <span>Услуги</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                <p>Наша компания специализируется только на ремонте и обслуживании холодильного оборудования. Что
                    позволяет нам оттачивать навыки и опыт именно в этой области.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="features-img"><img class="img-responsive" src="{% static 'images/main/rw1.jpg' %}"
                                               alt=""></div>
            </div>
            <div class="col-sm-6">
                <div class="media service-box">
                    <div class="pull-left"><i class="fa fa-eercast" aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h4 class="media-heading">Заправка фреоном</h4>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that
                            fosters greater</p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h4 class="media-heading">Замена компрессора</h4>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that
                            fosters greater</p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h4 class="media-heading">Наладка электрики</h4>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that
                            fosters greater</p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left"><i class="fa fa-cog" aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h4 class="media-heading">Мелкий ремонт</h4>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that
                            fosters greater</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /#Main Features -->