{% load staticfiles %}

<!-- Latest News -->
<section id="news_faq" class="p_t">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 heading_left heading">
                            <h2>Последние <span>Новости</span></h2>
                            <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="news_slider">
                                {% for object in news %}
                                    <div class="item">
                                        <article class="post clearfix bg-lighter">
                                            <div class="entry-header">
                                                <div class="post-thumb thumb"><img
                                                        src="{% comment %}{{ object.image.url }}{% endcomment %}" alt=""
                                                        class="img-responsive img-fullwidth">
                                                </div>
                                                <div class="entry-date">
                                                    <ul>
                                                        <li class="text-white">{{ object.posted | date:"j" }}</li>
                                                        <li class="text-white">{{ object.posted | date:"M" }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="entry-content">
                                                <div class="entry-meta">
                                                    <div class="media-body">
                                                        <div class="event-content">
                                                            <h4>
                                                                <a href="{% url "news_detail" pk=object.pk %}"> {{ object.title }} </a>
                                                            </h4>
                                                            <span><i
                                                                    class="fa fa-commenting-o"></i> 214 Комментариев</span>
                                                            <span><i class="fa fa-heart-o"></i> 895 Лайков</span></div>
                                                    </div>
                                                </div>
                                                <p>{{ object.description }}<a
                                                        href="{% url "news_detail" pk=object.pk %}"> Подробнее</a></p>
                                            </div>
                                        </article>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 heading_left heading">
                            <h2>FA<span>Q's</span></h2>
                            <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                        </div>
                    </div>
                    <div class="panel-group faq_section" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseOne" aria-expanded="true"
                                                           aria-controls="collapseOne"> Morbi vehicula mauris vel
                                    bibendum molestie? </a></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="faq-special-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec cursus
                                            orci, id pulvinar arcu. Proin pellentesque. Cum sociis natoque penatibus et
                                            magnis dis parturient montes, nascetur ridiculus mus. Integer molestie
                                            viverra neque sit amet posuere.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapsetwo" aria-expanded="false"
                                                           aria-controls="collapsetwo" class="collapsed"> Donec
                                    condimentum neque est, quis finibus? </a></h4>
                            </div>
                            <div id="collapsetwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="faq-special-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec cursus
                                            orci, id pulvinar arcu. Proin pellentesque. Cum sociis natoque penatibus et
                                            magnis dis parturient montes, nascetur ridiculus mus. Integer molestie
                                            viverra neque sit amet posuere.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapsethree" aria-expanded="false"
                                                           aria-controls="collapsethree" class="collapsed"> Suspendisse
                                    et enim semper, porta nunc ut? </a></h4>
                            </div>
                            <div id="collapsethree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="faq-special-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec cursus
                                            orci, id pulvinar arcu. Proin pellentesque. Cum sociis natoque penatibus et
                                            magnis dis parturient montes, nascetur ridiculus mus. Integer molestie
                                            viverra neque sit amet posuere. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapsefour" aria-expanded="false"
                                                           aria-controls="collapsefour" class="collapsed"> Donec
                                    condimentum neque est, quis finibus? </a></h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="faq-special-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec cursus
                                            orci, id pulvinar arcu. Proin pellentesque. Cum sociis natoque penatibus et
                                            magnis dis parturient montes, nascetur ridiculus mus. Integer molestie
                                            viverra neque sit amet posuere.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapsefive" aria-expanded="false"
                                                           aria-controls="collapsefive" class="collapsed"> Suspendisse
                                    et enim semper, porta nunc ut? </a></h4>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="faq-special-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec cursus
                                            orci, id pulvinar arcu. Proin pellentesque. Cum sociis natoque penatibus et
                                            magnis dis parturient montes, nascetur ridiculus mus. Integer molestie
                                            viverra neque sit amet posuere.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapsesix" aria-expanded="false"
                                                           aria-controls="collapsesix" class="collapsed"> Porta nunc ut
                                    suspendisse et enim semper? </a></h4>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingSix" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="faq-special-detail">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec cursus
                                            orci, id pulvinar arcu. Proin pellentesque. Cum sociis natoque penatibus et
                                            magnis dis parturient montes, nascetur ridiculus mus. Integer molestie
                                            viverra neque sit amet posuere.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /#Latest News -->