{% extends "main.html" %}
{% load thumbnail %}

{% block title %}Главная страница{% endblock %}

{% block main %}

    {% include 'main/modules/banner.html' %}
{#    {% include 'modules/appointment.html' %}#}
    {% include 'main/modules/callback.html' %}
    {% include 'main/modules/aboutus.html' %}
{#    {% include 'main/modules/mainfeatures.html' %}#}
{#    {% include 'main/modules/services.html' %}#}
{#    {% include 'main/modules/counter.html' %}#}
{#    {% include 'main/modules/counter2.html' %}#}
{#    {% include 'main/modules/calltoaction.html' %}#}
{#    {% include 'main/modules/team.html' %}#}
{#    {% include 'main/modules/clients.html' %}#}
{#    {% include 'main/modules/news.html' %}#}
{#    {% include 'main/modules/whychose.html' %}#}
    {% include 'main/modules/calltoaction2.html' %}

{% endblock %}
