<!-- Contact Us -->
<section id="contact-us1" class="p_t_b">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="heading_left heading">
                    <h2>Контактная <span>Информация</span></h2>
                    <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="contact-info">

                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="contact-info-box">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h3>Адрес</h3>
                        <p>Проспект победы 78, г. Казань, респ. Татарстан, Россия.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="contact-info-box">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h3>Быстрый контакт</h3>
                        <p>(843) 266-10-67</p>
                        <p>info@antkzn.ru</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="contact-info-box">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <h3>Поддержка 24/7</h3>
                        <p>Наши специалисты готовы выехать к Вам в любое время 24/7.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row m_t_50">
            <div class="col-sm-12">
                <div class="heading_left heading">
                    <h2>Обратная <span>связь</span></h2>
                    <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                </div>
            </div>
        </div>

        <form class="contact-page">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input class="form-control" placeholder="Имя" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Телефон" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="email">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Сообщение"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="#." class="cd-btn secondary">Отправить</a>
                </div>
            </div>

        </form>

        <div class="row m_t_50">
            <div class="col-sm-12">
                <div class="heading_left heading">
                    <h2>Зона <span>Обслуживания</span></h2>
                    <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div id="map"></div>
            </div>

        </div>

    </div>

</section>
<!-- /#Contact Us -->