{% load staticfiles %}

<!-- Our Mission Start -->
<section id="our-mission" class="p_t_b">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading_center heading text-center">
                <h2>Наша <span>миссия</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                <p>АНТ сервис - ваш лучший и самый надежный вариант для ремонта и обслуживания холодильников. Благодаря накопленному опыту наши высококвалифицированные специалисты, гарантируют удовлетворение всех ваших потребностей в ремонте холодильника, мы являемся вашим лучшим выбором для любого ремонта
                    холодильника, независимо от того, где вы его купили. Будьте уверены, что наши эксперты наладят работу вашего холодильного оборудования.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="our-mission-box-img">
                    <img src="{% static "images/holodilnik.jpg" %}" alt="img">
                </div>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="our-mission-box-detail">
                    <h3>О АНТ-севрис</h3>
                    <p>АНТ-сервис занимается ремонтом широкого спектра типов и размеров холодильников, в том числе:</p>
                    <ul>
                        <li>Домашние холодильники</li>
                        <li>Встроенные холодильники</li>
                        <li>Холодильные витрины</li>
                        <li>Холодильные камеры</li>
                        <li>Винные холодильники</li>
                        <li>Холодильники для хранения шуб</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Our Mission End -->
