<!-- Our Value Start -->
<section id="services-page" class="p_t_b our-value">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading_center heading text-center">
                <h2>Наши <span>преимущества</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                <p>Наша компания за 9 лет работы накопила большой опыт в работе с холодильным оборудованием. И мы готовы предложить Вам качественный сервис и гарантированное качество выполненных
                    работ.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="services-page-box">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <h2>Опытные мастера</h2>
                    <p>Наши специалисты проходят обучение и сертицикацию.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="services-page-box">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <h2>Оригинальные запчасти</h2>
                    <p>Мы используем только оригинальные запчасти, что гарантирует долгий срок службы после ремонта.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="services-page-box">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2>Профессиональное оборудование</h2>
                    <p>Профессиональное и современное оборудование позволяет быстро и качественно выполнить нашу работу.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Our Value End -->